.container {
  width: 710px;
}

body {
  background: #400205;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  /*background: #fff;*/
}

section {
  margin-top: 1em;
  font-size: 13px;
  padding: 20px;
  background: #E8DABC;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

a:visited {
  color: #000000;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

nav {
  /*float: right;*/
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  font-size: 1.5em;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

img.snaptoright {
    float: right;
    margin-left: 18px;
    padding: 5px;
}