.container {
  width: 910px;
}

body {
  background: #400205;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em ;
  /*background: #fff;*/
}

section {
  margin-top: 1em;
  font-size: 13px;
  background: #E8DABC;
/*  height:500px; */
  padding:4px 30px 5px;
  height: auto;
  min-height: 600px;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

a:visited {
  color: #000000;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

nav {
  /*float: right;*/
}

nav {
  /*background-color: white;
  padding: 0 0.7em;*/
  white-space: nowrap;
  border-bottom:double;
  margin-bottom: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1em 0 0.5em;
}

nav ul li a {
  /* padding: 0 5px; */
  font-weight: bold;
  font-size: 1.5em;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

img.snaptoright {
    float: right;
    margin-left: 18px;
    padding: 5px;
}

.boxWrapper {
    overflow: hidden;
    width: 100%;
}

div#feedsBox {
    padding: 0;
    position: relative;
}

div#feedsBox2 {
    padding: 0;
    position: relative;
}

div.innerBox {
    margin:30px;
}

.col1 {
    background: none repeat scroll 0 0 transparent;
    border-right: 1px solid #000000;
    margin-right: 28px;
    padding-right: 28px;
    width: 170px;
}

.col1, .col2, .col3{
    float:left;
}

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.dotted {
    border-top: 1px dotted #D64A04;
    padding-top: 15px;
}
 
#events article {
  margin-bottom: 20px
}

#presses section p {
    /* background: none repeat scroll 0 0 #FFF6BF; */
    border-color: #FFD324;
    color: #514721;
    font-style: italic;
}

.heading {
  color: #400205;
}

.seperator {
  padding: 0px 19px;
}