<p>
<b>Layali El Andalus</b> performs North African drumming, Led by experienced moroccan musicians, and which varies from Shaabi grooves to genawa, Andalusian and Berber rhythms.
We also perform Arabic drumming for belly dancers, weddings and any fun occasions. 
</p>
<h3>
Instruments that we use:
</h3>
<p>
<b>Bendir</b>: The bendir (Arabic: بندير‎; plural banadir, بنادير; also called erbeni or arbani) is a frame drum used as a traditionale instruments throughout North Africa. Unlike the tambourine, it has no jingles but most often has a snare (usually made of gut) stretched across its head, which when the drum is struck with the fingers or palm gives the tone a buzzing quality. The bendir is a frame drum with a wooden frame and a membrane. It creates different tones according to the spreading of the shock waves moving across the skins itself. A frame drum is the oldest and most common kind of drum. The bendir is used throughout North Africa, Ancient Egypt, and Mesopotamia. The bendir drum has been around since prehistoric times. The bendir is about 14 to 16 inches. The drum is played kept vertical by inserting the thumb of the left hand in a special holes in the frame. The bandir or bendir is used in the special ceremonies of the Sufi. The Sufi tradition is strongly characterized by the use of music, rhythm, and dance to reach particular states of consciousness. The bendir has a small hole in the bottom, which is used to balance the drum at the base of the left thumb as the left hand fingers that the rim and the right hand plays the rim and center. It is mainly used in the following countries: Morocco, Algeria, Tunisia, Libya and sometimes Egypt. Egypt mostly uses a frame drum similar to the bendir, which is called a tar, except it does not have a snare in the back of it. A version of it exists in Ireland called the Bodhrán which is usually played with a beater. The term Bendir means in Turkish language a big hand framedrumm, who is known as Duff in Arabic language. 
</p>
<p>
<b>Riq</b>
The riq (Arabic: رق‎) (also spelled riqq or rik) is a type of tambourine used as a traditional instrument in Arabic music. It is an important instrument in both folk and classical music throughout the Arabic-speaking world. It traditionally has a wooden frame (although in the modern era it may also be made of metal), jingles, and a thin, translucent head made of fish or goat skin (or, more recently, a synthetic material).
</p>

<p>
<b>Darbuka</b>The goblet drum (also chalice drum, darbuka, debuka, doumbek, dumbec, or tablah, Persian: دمبک‎, Arabic: دربوكة‎ / ALA-LC: darbūkah) is a single head membranophone with a goblet shaped body used mostly in the Middle East, North Africa, and Eastern Europe.[1] The African djembe-wassolou is also a goblet membranophone.[2]This article focuses on the Eastern and North-African goblet drum
</p>

<p>
<b>Taarija</b>A taarija is a Moroccan drum, single skin and tube, played singly, unlike the tabla, which is a pair of drums. While the tube may be metal (e.g., silver), it is typically made of baked clay. In some areas, tara'ij are traditionally given to children at the holiday of Aashura; a boy's drum has a plain baked-clay tube, and a girl's drum is painted in brightly colored patterns. (A woman wearing heavy make-up may be said to be painted "like a taarija of Aashura.")
</p>
