ol, ul {
    list-style: none outside none;
}

header nav {
    left: 21px;
    position: absolute;
    top: 156px;
    width: 950px;
    z-index: 9999;
}
nav ul > li {
    float: left;
    margin-right: 2px;
    position: relative;
    text-align: center;
}
nav ul > li > a {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 15px;
    height: 45px;
    line-height: 1.2em;
    padding-top: 28px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
}
nav ul > li > span {
    display: none;
    height: 187px;
    left: -43px;
    position: absolute;
    width: 216px;
    z-index: 1;
}
nav ul > li:hover > a, nav ul > li#active > a {
    color: #FB1D1D;
}

nav ul > li#active > span {
    background: url("../images/menu-shine.png") no-repeat scroll left top transparent;
    display: block;
    top: -70px;
}
nav ul > li#main {
    background: url("/images/main-buttom.jpg") no-repeat scroll left top transparent;
    width: 131px;
}
nav ul > li#band {
    background: url("/images/the-band-button.jpg") no-repeat scroll left top transparent;
    width: 129px;
}

nav ul > li#audio {
    background: url("/images/audio-button.jpg") no-repeat scroll left top transparent;
    width: 129px;
}

nav {
    display:block;
}

h1 a {
    background: url("/images/logo.gif") no-repeat scroll left top transparent;
    height: 139px;
    left: 271px;
    position: absolute;
    top: 0;
    width: 398px;
}

a{
    border: 0 none;
    outline: 0 none;
    color: #D52D00;
}

#divContainer {
    background: none repeat scroll 0 0 transparent;
    font-size: 0.875em;
    margin: 0 auto;
    width: 980px;
}

.background {
    background: url("/images/background.jpg") no-repeat scroll center top transparent;
}

header {
    height: 607px;
    position: relative;
}

header {
    height: 232px;
    position: relative;
    z-index: 2;
}

.clear {
    clear: both;
}